In [39]:
import pandas as pd
import numpy as np
df=pd.read_csv('donner_party1.csv')
donner_df.head()

   Survived                 Name Sex   Age Marital Status
0         1        Patrick Breen   M  51.0              M
1         1       Margaret Breen   F  40.0              M
2         1           John Breen   M  14.0              S
3         1    Patrick Breen Jr.   M   9.0              S
4         1  Simon Preston Breen   M   8.0              S

In [40]:
members = df.shape[0]
 
print('Members in the Donner Party: ' , numOfRows)

Members in the Donner Party:  89

In [41]:
alive= donner_df['Survived'].sum()
alive_percent=((alive/members).round(4))*100
dead_percent=(((members-alive)/members).round(4))*100
print(f'Odds of surviving the trip: {alive_percent}%')
print(f'The odds of dying on the road: {dead_percent}%')

Odds of surviving the trip: 53.93%
The odds of dying on the road: 46.07%