In [5]:
import pandas as pd
df = pd.read_csv ('donner_party1.csv')
df

    Survived                        Name Sex   Age Marital Status
0          1               Patrick Breen   M  51.0              M
1          1              Margaret Breen   F  40.0              M
2          1                  John Breen   M  14.0              S
3          1           Patrick Breen Jr.   M   9.0              S
4          1         Simon Preston Breen   M   8.0              S
5          1       James Frederick Breen   M   5.0              S
6          1                 Peter Breen   M   3.0              S
7          1              Isabella Breen   F   1.0              S
8          1          James Frazier Reed   M  45.0              M
9          1         Margaret Keyes Reed   F  32.0              M
10         1     Virginia BackenstoeReed   F  13.0              S
11         1            Martha Jane Reed   F   8.0              S
12         1           James F. Reed Jr.   M   5.0              S
13         1           Thomas Keyes Reed   M   3.0              S
14         0            Sarah Keyes Reed   F  70.0              W
15         0               George Donner   M  62.0              M
16         0              Tamzene Donner   F  45.0              M
17         1               Elitha Donner   F  14.0              S
18         1              Frances Donner   F   6.0              S
19         1              Georgia Donner   F   4.0              S
20         1                Eliza Donner   F   3.0              S
21         1       Leanna Charity Donner   F  11.0              S
22         0                Jacob Donner   M  56.0              M
23         0            Elizabeth Donner   F  38.0              M
24         1                Solomon Hook   M  14.0              S
25         1  George Donner(the younger)   M  10.0              S
26         1                 Mary Donner   F   7.0              S
27         0                Isaac Donner   M   5.0              S
28         0               Samuel Donner   M   4.0              S
29         0                Lewis Donner   M   3.0              S
..       ...                         ...  ..   ...            ...
59         0            Amanda McCutchen   F  23.0              M
60         1            Harriet McCuthen   F   1.0              S
61         0             Jacob Wolfinger   M   NaN              M
62         1             Doris Wolfinger   M  20.0              M
63         1              Lewis Keseberg   M  32.0              M
64         1         Philippine Keseberg   F  23.0              M
65         0                Ada Keseberg   F   3.0              S
66         0          Lewis Keseberg Jr.   M   5.5              S
67         0                     Antonio   M  23.0              S
68         0            Augustus Spitzer   M  30.0              S
69         0             Baylis Williams   M  25.0              S
70         0              Charles Burger   M  30.0              S
71         0             Charles Stanton   M  35.0              S
72         0                    Hardcoop   M  60.0              S
73         1                Hiram Miller   M  29.0              S
74         0                 James Smith   M  25.0              S
75         1       Jean Baptiste Trudeau   M  16.0              S
76         0                 John Denton   M  28.0              S
77         0                 John Snyder   M  25.0              S
78         0            Joseph Reinhardt   M  30.0              S
79         0               Luke Halloran   M  25.0              S
80         0                        Luis   M   NaN              S
81         0                    Salvador   M   NaN              S
82         0                 Milt Elliot   M  28.0              S
83         1                  Noah James   M  16.0              S
84         0               Patrick Dolan   M  35.0              S
85         1               Walter Herron   M  27.0              S
86         0            Samuel Shoemaker   M  25.0              S
87         1               Eliza William   F  31.0              S
88         0                William Hook   M  12.0              S

[89 rows x 5 columns]

In [7]:
numOfRows = df.shape[0]
 
print('Members in the Donner Party: ' , numOfRows)

Members in the Donner Party:  89

In [9]:
survive= pd.Series(['Survived'])
survive.sum
#Not quite working. Need to mess with the data set, remove the index, sum up survivers, compare survivor rate of gender and age

<bound method Series.sum of 0    Survived
dtype: object>